/* colour palette is white, black and a light blue similar to linkedin */
/* MAIN HTML */
html{
  /* This allows the scrolling to content a nicer experience 
  as it's less sharp in movement */
    scroll-behavior: smooth;
}

/* MAIN BODY */
body {
    /*not using pure white so foreground content has more depth.*/
    background-color: snow; /*adds a tint of red to background*/
    /*putting empty space around the the content*/
    padding: 1% 10% 1% 5%;

    /*grid system*/
    display: grid;
    /* using a grid of 3 rows and 12 columns*/
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
    background-repeat: repeat;
    background-image: url("https://media1.thehungryjpeg.com/thumbs2/ori_3642335_vkyq2o8km6cljna94namw9e4hyxwo83y2t0vyi91_abstract-dark-background-geometric-shapes-black-and-white-minimal-me.jpg");
}

/* MAIN HEADER AREA */
header{
    /* keeping a small bit of space between header which contains nav and main content for proximity*/
    padding: 1%;

    /*grid*/
    grid-column: 5/12; /*golden ratio purpose*/
}

/* NAVIGATION BAR AREA */
nav{
    /*using flexbox to organise the nav bar*/
    display: flex;
    flex-direction: row; /*content left to right */
    flex-wrap: wrap; /* puts content on new line */
    justify-content: space-around; /* adds gaps to even our content */
}
nav a{
    /*keep all buttons the same color*/
    background-color: black;
    color: snow;
    
    /*shape button as a rectangle with round sides*/
    padding: 2px 35px;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius:2.5em;
    border: 1px solid #00c8ff;
    
    /*put empty space around the nav buttons*/
    margin-top: 2%;
    margin-left: 1%;
    margin-bottom: 1%;
    
    /*styles the font and removes the default underline for anchor links */
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-size: 17px; 
    font-weight:700;
    text-decoration: none;

    /*transition slows down the nav buttons' hovering, reason is I want this to set a tone that I take my time with attention to detail */
    transition: all 1.5s;
}
nav a:hover {
    /*this colour is close to linkedin but not exactly. 
    I want the user to feel it is familiar but new. I want the blue to emphasise trustworthiness.
    */
    background-color: #00c8ff;
    color: snow;
}
.main-nav{
  overflow: hidden;
}
.main-nav .icon {
  display: none;
}
/* SIDEBAR AREA */
aside{
    /*creates two colours one white but 
    seperate from background the other blue 
    to highlight area of interest.*/
    background: linear-gradient(180deg, mintcream 85%,  #00c8ff 0%);
    /*I create a box shadow then to give depth*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

    /*center the text and align it to the top. 
    Give it space from nav and between main articles
    stick it so it follows with user keeping
    action button in site*/
    margin: 0% 15% auto auto;
    position: sticky; top: 5%;
    text-align: center;

    /*grid*/
    grid-column: span 3;
}
aside img{
    /*add some white space from top
    make image a circle and make
    sure the image is kept small*/
    padding-top: 10%;
    border-radius: 50%;
    max-width: 75%;
}
aside #title{
    /*Makes name larger and bolds it more than other text*/
    color: black;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-size: 24px; 
    font-weight:700;
}
aside #subtitle{
  /*Makes job title larger and bolds it more than other text but not as much as name*/
    color: black;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-size: 20px; 
    font-weight:300;
}
aside #social-buttons {
    /*add space from action button*/
    margin-bottom: 15%;
}
aside #social-buttons a{
    /*inline-block respect margin & padding. the rest makes 
    these social buttons like other buttons buttons*/
    display: inline-block;
    background-color: black;
    color: white;


    /*give circle look*/
    padding: 14px 16px;
    font-size: 17px;
    border-radius:2.5em;

    /*transition slows down the social buttons' hovering, reason is I want this to set a tone that I take my time with attention to detail */
    transition: all 1.5s;
}
aside #social-buttons a:hover {
    /*similar to nav*/
    background-color: #00c8ff;
    color: snow;
}
aside #action-button{
    /*give space in between blue colour*/
    padding-bottom: 7%;
}
aside #action-button a{
    /*respect margin & padding make 
    like other buttons buttons*/
    display: inline-block;
    background-color: black;
    color: white;

    /*give rounded look*/
    padding: 14px 16px;
    font-size: 17px;
    border-radius:2.5em;

    /*styles the font and removes the default underline for anchor links */
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-size: 17px; 
    font-weight:700;
    text-decoration: none;

    /*make action button a little bigger*/
    width: 60%;

    /*transition slows down action button hovering, reason is I want this to set a tone that I take my time with attention to detail */
    transition: all 1.5s;
}
aside #action-button a:hover {
    /*similar to nav hovering over this
    should give the user closure and 
    a feeling of completeness*/
    background-color: #00c8ff;
    color: snow;
}
aside #top-button {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    
    outline: none;
    background-color: black;
    border: 1px solid #00c8ff;
    color: white;
    cursor: pointer;

    /*give rounded look*/
    padding: 2px 35px;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 17px;
    border-radius:2.5em;
    transition: all 1.5s;
}
aside #top-button:hover {
  background-color: #00c8ff;
}

/* MAIN ARTICLE AREA */
article{
    /*creates nice white background and
    takes up most of the site space.*/
    background-color: mintcream;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    grid-column: 5/12;
}

/* ALL, ABOUT AND CONTACT SECTIONS */
section{
    /*creates empty space between sections*/
    width: 80%;
    margin: 0 auto;
    max-width: 1280px;
}
section h2{
    
    display: inline-block;
    background: #00c8ff;
    overflow: hidden;
    color: white;

    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-size: 3.2rem;
    font-weight: 400;
    line-height: 110%;
    text-transform: uppercase;
    margin: 2.8rem 0 1.68rem 0;
    padding: 2px 20px;
    box-sizing: inherit;
}
section p, table, ol{
    color:black;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-weight: normal;
    font-size: 1.68rem;
    line-height: 1.6;
    padding:0;
    box-sizing: inherit;
}
ol{
  padding-left: 10%;
}

/* SKILLS SECTION */
.skill-flex-container {
    display: flex;
    flex-wrap: wrap;
    vertical-align: middle;
} 
.skill-flex-container > div {
    color:black;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-weight: normal;
    font-size: 1.2rem;
    line-height: 1.6;
    background-color: mintcream;
    width: 30%;
    margin: 10px;
    text-align: center;
}
.skill-flex-container img{
    max-width: 150px;
    max-height: 150px;
}

/* EXPERIENCE SECTION */
.experience-container {
  margin-left: 210px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}
.experience-container:before {
  top: 10px;
}
.experience-container:before, .experience-date {
  background-color: #00c8ff; 
}
.experience-box {
  position: relative;
  padding-left: 20px;
  margin-bottom: 45px; 
}
.experience-box:before {
  content: "";
  left: -1px;
  position: absolute;
  width: 4px;
  height: 4px;
  top: 10px;
  display: none; 
}
.experience-box:last-child:after {
  top: 14px;
  left: 0;
  bottom: 0;
  width: 1px;
  content: '';
  position: absolute; 
}
.experience-box h3 {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  font-size: 24px;
  margin-bottom: 22px;
  margin-top: 0;

}
.experience-date {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  letter-spacing: 0;
  line-height: 1.1;
  padding: 8px 6px;
  margin-left: 15px;
  display: inline-block;
  margin-right: 22px;
  font-size: 0.875em;
  text-align: center;
  position: absolute;
  width: 160px;
  right: 100%;
  left: auto;
  top: -4px;
  color: snow; 
}
.experience-date-mobile{
  display: none;
}
.experience-date:before {
  top: 0;
  right: 100%;
  width: 0;
  height: 0;
  position: absolute;
}
.experience-date span {
  overflow: hidden;
  position: relative;
  display: block;
  white-space: nowrap; 
}
.experience-date:after {
  content: " ";
  top: 0;
  left: 100%;
  width: 0;
  height: 0;
  position: absolute;
}
.experience-date:after, .experience-date:before {
  border-color: #00c8ff; 
}
.experience-logo {
  margin-bottom: 10px; 
}
.experience-logo img{
  max-width: 150px;
  max-height: 150px;
}
.experience-company {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  line-height: 1.1;
  letter-spacing: 0;
  font-size: 1em;
  margin-bottom: 15px;
  display: inline-block;
  color: #757575; 
}

/* EDUCATION */
.education-container {
  margin-left: 210px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}
.education-container:before {
  top: 10px;
}
.education-container:before, .education-date {
  background-color: #00c8ff; 
}
.education-box {
    position: relative;
    padding-left: 20px;
    margin-bottom: 45px;
    padding-right: 90px;
}
.education-box:before {
  content: "";
  top: 9px;
  left: -1px;
  right: 100%;
  position: absolute;

  top: 10px; 
}
.education-box:last-child:after {
  top: 14px;
  left: 0;
  bottom: 0;
  width: 1px;
  content: '';
  position: absolute; 
}
.education-box h3 {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  font-size: 24px;
  margin-bottom: 22px;
  margin-top: 0; 
}
.education-date {
  letter-spacing: 0;
  line-height: 1.1;
  margin-left: 15px;
  margin-right: 22px;
  display: inline-block;
  padding: 8px 6px;
  font-size: 0.875em;
  text-align: center;
  position: absolute;
  width: 160px;
  right: 100%;
  left: auto;
  top: -4px;
  color: snow; 
}
.education-date span {
  overflow: hidden;
  position: relative;
  display: block;
  white-space: nowrap; 
}
.education-date:before {
  display: none; 
}
.education-date:after {
  content: " ";
  top: 0;
  left: 100%;
  width: 0;
  height: 0;
  position: absolute;
  border-top: 16px solid transparent !important;
  border-bottom: 16px solid transparent !important;
  border-right: 10px solid transparent !important;
  border-left: 10px solid transparent; 
}
.education-date:after, .education-date:before {
  border-color: #00c8ff; 
}
.education-logo {
  margin-bottom: 10px;
}
.education-logo img{
  max-width: 150px;
  max-height: 150px;
}
.education-company {
  line-height: 1.1;
  letter-spacing: 0;
  font-size: 0.625em;
  margin-bottom: 15px;
  display: inline-block;
  color: #757575;
  font-size: 1em; 
}
.education-date-mobile{
  display: none;
}

/* INTERESTS */
.interest-flex-container {
  display: flex;
  flex-direction: row; /*content left to right */
  flex-wrap: wrap; /* puts content on new line */
  justify-content: space-around; /* adds gaps to even our content */
} 
.interest-flex-container > div {
  color:black;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 1.6;
  background-color: mintcream;
  width: 30%;
  margin: 10px;
  text-align: center;
}
.interest-flex-container img{
  max-width: 150px;
  max-height: 150px;
}

/* FOOTER */
footer{
    background-color: #00c8ff;
    grid-column: 5/12;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}


/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
  body{
      /*grid system*/
      display: grid;
      /* using a grid of 3 rows and 12 columns*/
      grid-template-rows: auto auto auto;
      grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
  }
  header{
    z-index: 99;
    position: sticky; top: 0%;
    background-color: black;
      /*grid*/
    grid-column: span 12;
  }

  nav{
    flex-direction: column; /*content left to right */
    flex-wrap: wrap; /* puts content on new line */
    justify-content: left; /* adds gaps to even our content */
  }
  nav a:hover {
    /*this colour is close to linkedin but not exactly. 
    I want the user to feel it is familiar but new. I want the blue to emphasise trustworthiness.
    */
    background-color: black;
    color: snow;
}
  .main-nav a {
    display: none;
    font-size: 2.73em; 
  }
  .main-nav a.icon {
    display: block;
  }
  
  .main-nav.responsive {
    position: relative;
  }

  .main-nav.responsive a {/*when the button is pressed do this */
    display: block;
    text-align: center;
  }
  
  .main-nav.responsive {position: relative;}
  .main-nav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .main-nav.responsive a {/*when the button is pressed do this */
    float: none;
    display: block;
    text-align: left;
  }

  aside{
    /*center the text and align it to the top. 
    Give it space from nav and between main articles
    stick it so it follows with user keeping
    action button in site*/
    margin: 0% 0% 10% 0%;
    position: relative; top: 5%;
    text-align: center;

    /*grid*/
    grid-column: span 12;
  }

  aside img{
    /*add some white space from top
    make image a circle and make
    sure the image is kept small*/
    padding-top: 10%;
    border-radius: 50%;
    max-width: 75%;
  }
  aside #title{
      /*Makes name larger and bolds it more than other text*/
      color: black;
      font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
      font-size: 24px; 
      font-weight:700;
  }
  aside #subtitle{
    /*Makes job title larger and bolds it more than other text but not as much as name*/
      color: black;
      font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
      font-size: 20px; 
      font-weight:300;
  }
  aside #social-buttons a{
      /*inline-block respect margin & padding. the rest makes 
      these social buttons like other buttons buttons*/
      display: inline-block;
      background-color: black;
      color: white;
      
      /*give circle look*/
      padding: 14px 16px;
      margin: 3%;
      font-size: 2.73em;
      border-radius:2.5em;
  }
  aside #social-buttons a:hover {
    /*similar to nav*/
    background-color: black;
    color: snow;
  }
  aside #action-button{
      /*give space in between blue colour*/
      padding-bottom: 4%;
  }
  aside #action-button a{
      /*respect margin & padding make 
      like other buttons buttons*/
      display: inline-block;
      background-color: black;
      color: white;

      /*give rounded look*/
      padding: 14px 16px;

      border-radius:2.5em;

      /*styles the font and removes the default underline for anchor links */
      font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
      font-size: 2.73em; 
      font-weight:700;
      text-decoration: none;

      /*make action button a little bigger*/
      width: 60%;
  }
  aside #action-buttons a:hover {
    /*similar to nav*/
    background-color: black;
    color: snow;
  }
  aside #top-button {
      display: none;
      position: fixed;
      bottom: 20px;
      margin-left: 62%;
      margin-right: 45%;
      font-size: 28px;
      border: none;
      
      outline: none;
      background-color: black;
      border: 1px solid #00c8ff;
      color: white;
      cursor: pointer;

      /*give rounded look*/
      padding: 2px 35px;
      padding-top: 1%;
      padding-bottom: 1%;
      border-radius:2.5em;
      transition: all 1.5s;
  }
  aside #top-button:hover {
    background-color: black;
  }

  /* MAIN ARTICLE AREA */
  article{
    /*creates nice white background and
    takes up most of the site space.*/
    background-color: mintcream;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    grid-column: span 12;
  }

  /* ALL, ABOUT AND CONTACT SECTIONS */
  section{
    /*creates empty space between sections*/
    width: 80%;
  }
  section h2{
    width: 100%;
    display: inline-block;
    background: #00c8ff;
    overflow: hidden;
    color: white;

    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-size: 3.2rem;
    font-weight: 400;
    line-height: 110%;
    text-transform: uppercase;
    
    margin: 2.8rem 0 1.68rem 0;
    padding: 2px 20px;
    box-sizing: inherit;
    text-align: center;
  }
  section p, table, ol{
    color:black;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-weight: normal;
    font-size: 1.68rem;
    line-height: 1.6;
    padding:0;
    box-sizing: inherit;
  }
  ol{
    padding-left: 10%;
  }

  /* SKILLS SECTION */
  .skill-flex-container {
    display: flex;
    flex-wrap: wrap;
    vertical-align: middle;
  } 
  .skill-flex-container > div {
    color:black;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-weight: normal;
    font-size: 1.68rem;
    line-height: 1.6;
    background-color: mintcream;
    width: 40%;
    margin: 5%;
    text-align: center;
  }
  .skill-flex-container img{
    max-width: 150px;
    max-height: 150px;
  }


  /* EXPERIENCE SECTION */
  .experience-container {
    margin-left: 10px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  }
  .experience-container:before {
    top: 10px;
  }
  .experience-container:before, .experience-date {
    background-color: #00c8ff; 
  }
  .experience-box {
    position: relative;
    padding-left: 20px;
    margin-bottom: 45px; 
  }
  .experience-box:before {
    content: "";
    left: -1px;
    position: absolute;
    width: 4px;
    height: 4px;
    top: 10px;
    display: none; 
  }
  .experience-box:last-child:after {
    top: 14px;
    left: 0;
    bottom: 0;
    width: 1px;
    content: '';
    position: absolute; 
  }
  .experience-box h3 {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-size: 24px;
    margin-bottom: 22px;
    margin-top: 0;

  }
  .experience-date {
    display: none;
  }
  .experience-date-mobile{
    display: inline;
    width: 100%;
    display: inline-block;
    background: #00c8ff;
    overflow: hidden;
    color: white;

    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-size: 3.2rem;
    font-weight: 400;
    line-height: 110%;
    text-transform: uppercase;
    
    margin: 2.8rem 0 1.68rem 0;
    padding: 2px 20px;
    box-sizing: inherit;
    text-align: center;
  }

  /* EDUCATION SECTION */
  .education-container {
    margin-left: 10px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  }
  .education-container:before {
    top: 10px;
  }
  .education-container:before, .experience-date {
    background-color: #00c8ff; 
  }
  .education-box {
    position: relative;
    padding-left: 20px;
    margin-bottom: 45px; 
  }
  .education-box:before {
    content: "";
    left: -1px;
    position: absolute;
    width: 4px;
    height: 4px;
    top: 10px;
    display: none; 
  }
  .education-box:last-child:after {
    top: 14px;
    left: 0;
    bottom: 0;
    width: 1px;
    content: '';
    position: absolute; 
  }
  .education-box h3 {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-size: 24px;
    margin-bottom: 22px;
    margin-top: 0;

  }

  .education-date {
    display: none;
  }
  .education-date-mobile{
    display: inline;
    width: 100%;
    display: inline-block;
    background: #00c8ff;
    overflow: hidden;
    color: white;

    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-size: 3.2rem;
    font-weight: 400;
    line-height: 110%;
    text-transform: uppercase;
    
    margin: 2.8rem 0 1.68rem 0;
    padding: 2px 20px;
    box-sizing: inherit;
    text-align: center;
  }

  /* FOOTER */
  footer{
    background-color: #00c8ff;
    grid-column: span 12;
    color: white;
    text-align: center;
  }
}